.form {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  color: #FFF;
  font-size: 16px;
  border-radius: 0;
  background: #2F2F2F;
  border: none;
}

.button {
  padding: 10px 30px;
  color: #FFF;
  font-size: 16px;
  border: none;
  background: #2F2F2F;
}
