.form {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.input, .button {
  font-size: 14px;
  color: #FFF;
  background: #2F2F2F;
  border: none;
  border-radius: 0;

  &:focus {
    outline: #888 auto 3px;
  }
}

.input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}

.button {
  padding: 10px 25px;
  cursor: pointer;
}
